@use 'global' as *;

.container {
  width: 100%;
  text-align: center;
}

.button {
  border: none;
  background: none;
  color: $white;
  padding: 10px 15px;
  border-radius: 50px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background: lighten($red, 15);
    color: $white;
  }

  &:focus {
    background: $white;
    color: $red;
  }
}

.loadMore {
  margin: 0;
  margin-top: 5px;
  width: 100%;
  background: $white;
  color: $red;
  border-radius: 5px;

  @include mobile {
    display: none;
  }
}

.currentPage {
  background: $white;
  color: $red;
}

.disabled {
  cursor: not-allowed;
  border: 1px solid $disabled;
  color: $disabled;

  &:hover {
    background: none;
    color: $disabled;
  }
}

.pageNumber {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;

  @include mobile {
    display: none;
  }
}

.mainPaginationContainer {
  display: none;

  @include mobile {
    display: block;
  }
}
