@use 'global' as *;

.container {
  margin: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-transform: uppercase;
  border: 1px solid $white;
  padding: 10px 10px;
  border-radius: 5px;
}

.name {
  margin: 0;
  font-weight: 700;
}

.number {
  margin: 0;
  font-weight: 300;
}

.imgContainer {
  display: flex;
  justify-content: space-between;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.button {
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  border: 1px solid $white;
  color: $white;
  padding: 10px 5px;
  width: 100%;
  height: 50px;
  border-radius: 5px;

  &:first-of-type {
    margin-right: 5px;
  }

  &:last-of-type {
    margin-left: 5px;
  }
}

.statContainer,
.typesContainer {
  display: flex;
  text-transform: uppercase;
}

.stat {
  width: 100px;
}

.statTitle {
  font-weight: 700;
  width: 80px;
}

.types {
  display: flex;
  justify-content: stretch;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 10px;
}

.type {
  background: rgb(150, 165, 80);
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;

  &:last-of-type {
    margin-left: 5px;
  }
}
