@use 'global' as *;

.container {
  width: 100%;
  height: 100%;
  margin-top: 60px;

  @include mobile {
    width: 600px;
    margin: auto;
  }
}

.headerContainer {
  @include mobile {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    background: $peach;
    border: 2px solid $white;
    border-radius: 5px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid $white;
  background: $peach;
  border-radius: 5px;
  padding: 5px 10px;

  @include mobile {
    height: 100%;
    flex-direction: column-reverse;
    align-items: flex-end;
    border: none;
    padding: 15px;
  }
}

.name {
  margin: 0;
  text-transform: capitalize;
  font-weight: 400;
}

.number {
  font-weight: 300;
  margin: 0;
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > img {
    width: 100%;
    height: 100%;
    background: $peach;
    border-radius: 50%;
    border: 3px solid $white;

    @include mobile {
      max-width: 200px;
      border: none;
      padding: 0;
    }
  }
}

.imgTitle {
  text-align: center;
  margin-bottom: 30px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  border: 2px solid $white;
  border-radius: 5px;
  background: $peach;
  color: $white;
  font-weight: 600;
  padding: 5px 5px;
  font-size: 14px;
  width: 150px;
  cursor: pointer;

  &:hover {
    background: darken($peach, 10);
  }

  &:nth-of-type(2) {
    margin-top: 0;
  }

  @include mobile {
    width: 280px;
    padding: 15px;
    font-size: 16px;
  }
}

.statContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statTitle {
  font-weight: 800;
}

.types {
  display: flex;
  justify-content: space-between;
}

.typeName,
.stat {
  border: 1px solid $white;
  border-radius: 5px;
  padding: 2px 5px;
  background: $peach;
  font-weight: 500;

  &:last-child {
    margin-left: 10px;
  }

  @include mobile {
    width: 250px;
    text-align: center;
  }
}

.statContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
