@use 'global' as *;

.container {
  // background: darken($red, 5);
  background: #c66352;
  box-shadow: 0px 1px 5px $shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.text {
  color: $white;
  padding: 20px 0;
  margin: 0;
  // margin-left: 30px;
  font-size: 18px;
  font-family: $pixel2;
  text-align: center;

  @include mobile {
    // margin-left: 60px;
  }
}
