@use 'global' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.headerContainer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 60px;

  @include mobile {
    justify-content: flex-start;
    margin-top: 0px;
  }
}

.headerText {
  margin-right: 5px;
}

.headerText,
.headerCount {
  font-size: 22px;

  @include mobile {
    font-size: 32px;
    font-weight: 300;
  }
}

.link {
  text-decoration: none;
  margin: 10px 0;
}

.card {
  background: $peach;
  width: 300px;
  padding: 10px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $white;
  text-align: right;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: darken($peach, 10);
  }

  @include mobile {
    min-width: 100%;
    // margin: 0 20px;
    flex-direction: column;
    text-align: center;
  }
}

.sprite {
  background: $red;
  border: 1px solid $white;
  border-radius: 50%;
  padding: 5px;

  @include mobile {
    padding: 15px;
    margin-bottom: 10px;
  }
}

.errorContainer {
  margin: auto;
}

.error {
  font-size: 20px;
  text-transform: uppercase;
}

.loading {
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.loadingDot {
  animation: loading 1s infinite;

  &:nth-of-type(2) {
    animation-delay: 0.25s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.5s;
  }
}

.gifContainer {
  width: 100%;
  position: relative;
}

.gif {
  position: absolute;
  left: -50%;
  animation: pikachuDash 6s infinite 1.5s;
}

@keyframes loading {
  50% {
    color: transparent;
  }
}

@keyframes pikachuDash {
  0% {
    left: -60%;
  }
  33% {
    left: 80;
  }
  100% {
    left: 180%;
  }
}
