@use 'global' as *;

.container {
  width: 100%;
  margin: auto;
}

.pokeContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 15px;
  margin-top: 15px;

  @include mobile {
    display: grid;
    align-self: start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 30px;
  }

  @include tablet {
    display: grid;
    align-self: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.link {
  text-decoration: none;
  width: 100%;
}

.card {
  background: $peach;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 3px 4px $shadow;

  &:hover {
    background-color: darken($peach, 5);
  }

  @include mobile {
    min-width: 100%;
    flex-direction: column;
    text-align: center;
  }

  @include tablet {
    padding: 30px 40px;
  }
}

.sprite {
  background: rgba($color: $red, $alpha: 0.5);
  border-radius: 50%;
  padding: 5px !important;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 3px 4px $shadow inset;

  @include mobile {
    padding: 15px;
    margin-bottom: 10px;
  }
}

.info {
  @include mobile {
    margin-top: 10px;
  }
}

.headerNumber,
.bodyNumber {
  font-weight: 800;
  font-size: 14px;
}

.bodyNumber {
  display: block;
  @include mobile {
    display: none;
  }
}

.headerNumber {
  display: none;
  @include mobile {
    margin-bottom: 10px;
    display: block;
  }
}

.name {
  margin: 0;
}
